Repository Joaleramirez/Project_2_CST438, pull requests merged in 2025-03, with the labels that each got.

#21 Enhanced the User Onboarding v1
  .idea/workspace.xml
  Project_2/backend/src/main/java/com/example/Project_2/controller/UserController.java
  Project_2/frontend/package-lock.json
  Project_2/frontend/src/App.js
  Project_2/frontend/src/pages/Dashboard.jsx
  Project_2/frontend/src/pages/Explore.jsx
  Project_2/frontend/src/pages/Onboarding.jsx
  Project_2/frontend/src/styles/Explore.css
  Project_2/frontend/src/styles/Onboarding.css
  Project_2/settings.gradle
Labels: bug, enhancement, Main-Task-Frontend

#22 Admin Prototype
  .idea/workspace.xml
  Project_2/backend/src/main/java/com/example/Project_2/controller/AdminController.java
  Project_2/backend/src/main/java/com/example/Project_2/controller/UserController.java
  Project_2/backend/src/main/java/com/example/Project_2/security/SecurityConfig.java
  Project_2/frontend/src/pages/AdminPage.jsx
  Project_2/frontend/src/pages/Dashboard.jsx
  Project_2/frontend/src/styles/Dashboard.css
Labels: bug, enhancement, Main-Task-Frontend

#28 Db
  .idea/workspace.xml
  Project_2/backend/build.gradle
  Project_2/backend/gradle/wrapper/gradle-wrapper.properties
  Project_2/backend/gradlew
  Project_2/backend/src/main/java/com/example/Project_2/Project2Application.java
  Project_2/backend/src/main/java/com/example/Project_2/controller/UserController.java
  Project_2/backend/src/main/java/com/example/Project_2/models/User.java
  Project_2/backend/src/main/java/com/example/Project_2/repositories/UserRepository.java
  Project_2/backend/src/main/java/com/example/Project_2/service/UserService.java
  Project_2/backend/src/main/resources/application.properties
  Project_2/backend/src/main/resources/application.yml
  Project_2/backend/src/test/java/com/example/Project_2/Project2ApplicationTests.java
  Project_2/frontend/src/App.js
  Project_2/frontend/src/pages/Dashboard.jsx
Labels: Main-Task-Backend, DataBase

#30 Db
  Project_2/backend/build.gradle
  Project_2/backend/src/main/resources/application.properties
Labels: Main-Task-Backend, DataBase

#31 DB setup and population
  Project_2/backend/src/main/java/com/example/Project_2/controller/TierItemController.java
  Project_2/backend/src/main/java/com/example/Project_2/controller/TierListController.java
  Project_2/backend/src/main/java/com/example/Project_2/models/TierItem.java
  Project_2/backend/src/main/java/com/example/Project_2/models/TierList.java
  Project_2/backend/src/main/java/com/example/Project_2/models/User.java
  Project_2/backend/src/main/java/com/example/Project_2/repositories/TierItemRepository.java
  Project_2/backend/src/main/java/com/example/Project_2/repositories/TierListRepository.java
  Project_2/backend/src/main/java/com/example/Project_2/repositories/UserRepository.java
  Project_2/backend/src/main/java/com/example/Project_2/service/TierItemService.java
  Project_2/backend/src/main/java/com/example/Project_2/service/TierListService.java
  Project_2/backend/src/main/java/com/example/Project_2/service/UserService.java
Labels: Main-Task-Backend, DataBase

#32 Added account page that allows users to view and edit their account i…
  Project_2/frontend/src/App.js
  Project_2/frontend/src/images/trashcan.png
  Project_2/frontend/src/pages/Dashboard.jsx
  Project_2/frontend/src/pages/WelcomePage.jsx
  Project_2/frontend/src/styles/Dashboard.css
Labels: Main-Task-Frontend

#33 alberto-TierList
  Project_2/frontend/package-lock.json
  Project_2/frontend/package.json
  Project_2/frontend/src/App.js
  Project_2/frontend/src/components/TierItem.jsx
  Project_2/frontend/src/components/TierList.jsx
  Project_2/frontend/src/components/TierRow.jsx
  Project_2/frontend/src/pages/TierListPage.jsx
  Project_2/frontend/src/styles/TierItem.css
  Project_2/frontend/src/styles/TierList.css
  Project_2/frontend/src/styles/TierListPage.css
  Project_2/frontend/src/styles/TierRow.css
Labels: enhancement, Main-Task-Frontend

#37 alberto-Nav
  Project_2/backend/src/main/java/com/example/Project_2/security/SecurityConfig.java
  Project_2/frontend/src/App.js
  Project_2/frontend/src/components/NavBar.jsx
  Project_2/frontend/src/pages/AdminPage.jsx
  Project_2/frontend/src/pages/Dashboard.jsx
  Project_2/frontend/src/styles/NavBar.css
Labels: bug, enhancement, Main-Task-Frontend, Side-Task-Backend
